{% extends 'base.html.twig' %}

{% block title %}Tweet index{% endblock %}

{% block body %}
    <h1>Tweet index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Body</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tweet in tweets %}
            <tr>
                <td>{{ tweet.id }}</td>
                <td>{{ tweet.body }}</td>
                <td>{{ tweet.image }}</td>
                <td>
                    <a href="{{ path('tweet_show', {'id': tweet.id}) }}">show</a>
                    <a href="{{ path('tweet_edit', {'id': tweet.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tweet_new') }}">Create new</a>
{% endblock %}
