{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}  {% for flashError in app.flashes('verify_email_error') %}
    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
{% endfor %}

    <div>
        <label>Username : </label>
        {{ username }}
    </div>
    <div>
        <label>Firstname : </label>
        {{ firstname }}
    </div>
    <div>
        <label>Name : </label>
        {{ name }}
    </div>
    <div>
        <label>Email : </label>
        {{ email }}
    </div>
    <div>
        <label>Birthdate : </label>
        {{ birthdate|date("d/m/Y") }}
    </div>

    <button class="active" name="Edit" onclick="location.href='{{ path('edit_profile') }}'">Edit</button>

    <form method="post" action="{{ path('delete_user', {'id': app.user.id }) }}" onsubmit="return confirm('Are you shure?')">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ app.user.id) }}">
        <button class="btn btn-outline-danger mx-1">Delete</button>
    </form>

{% endblock %}
